{{>layout/header}}
<h1>daily-mission</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" class="btn btn-primary">글 등록</a>
        </div>
    </div>
</div>
{{>layout/footer}}